@import "./imports.scss";

html,
body {
    background-color: #f4f6f9;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
}

.main-layout {
    position: relative;
    min-height: 100vh;

    .main-sidebar {
        position: absolute;
        top: 0;
        min-height: 100%;
        background-color: $clr-sidebar-bg;
        color: $clr-sidebar-font;
        width: 250px;

        a {
            text-decoration: none;
            color: $clr-base;

            &:link {
                color: inherit;
            }

            &:visited {
                color: inherit;
            }

            &:hover {
                text-decoration: none;
            }

            &:focus {
                outline: none;
            }
        }

        .brand-link {
            height: 56px;
            border-bottom: 1px solid #4b545c;

            .logo {
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #c2c7d0;
                color: #343a40;
                font-weight: bolder;
                font-size: 24px;
                border-radius: 50px;
                margin: 0 10px;
            }
        }

        .nav-header {
            padding: 27px 16px 10px;
            font-size: 0.9rem;
        }

        .nav-item {
            > a {
                padding: 8px 16px;
                display: block;
                border-radius: 0.25rem;

                > * {
                    display: inline-block;
                    line-height: 24px;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                &.active {
                    background-color: $clr-sidebar-active;
                    box-shadow: $elevation-2;
                    color: $clr-ntrl-min;
                }
            }

            .nav-treeview {
                max-height: 0;
                transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
                overflow: hidden;

                a {
                    padding: 8px 16px 8px 32px;
                }
            }

            &.active {
                > a {
                    background-color: rgba(255, 255, 255, 0.3);
                    box-shadow: $elevation-2;
                    color: $clr-ntrl-min;
                }

                .nav-treeview {
                    max-height: 500px;
                    transition: max-height 1s ease-in-out;
                }
            }
        }
    }

    .navbar {
        color: $clr-navbar-font;
        background-color: $clr-navbar-bg;
        border-bottom: 1px solid #dee2e6;

        a {
            text-decoration: none;
            color: $clr-base;

            &:link {
                color: inherit;
            }

            &:visited {
                color: inherit;
            }

            &:hover {
                text-decoration: none;
            }

            &:focus {
                outline: none;
            }
        }

        ul {
            margin-bottom: 0;
        }

        .nav-item {
            &:hover {
                color: $clr-navbar-active;
            }
        }
    }

    .main-content {
        background-color: #f4f6f9;
        height: 100%;
    }

    .footer {
        background-color: #fff;
        min-height: 100px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .navbar,
    .main-content,
    .footer {
        margin-left: 250px;
        transition: margin-left 0.3s ease-in-out;
    }

    &.sidebar-collapse {
        .navbar,
        .main-content,
        .footer {
            margin-left: 100px;
        }
    }
}
